[submodule "HVNTokenBasic"]
	path = HVNTokenBasic
	url = https://github.com/HiveProjectLtd/HVNTokenBasic.git
[submodule "HivePoC"]
	path = HivePoC
	url = https://github.com/HiveProjectLtd/HivePoC.git
[submodule "Tanzo"]
	path = Tanzo
	url = https://github.com/CryptoBlockTeam/Tanzo.git
